html {
  $primary-color: skyblue;

  body {
    background-color: $primary-color;
    border-width: 1px;
    border-color: black;
  }
  
  ul {
    background-color: white;
    border: 1px solid black;
  }
}