html {
  $primary-color: white;

  body {
    background-color: $primary-color;
    border-width: 1px;
    border-color: black;
  }
}
	
.nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav > ul>li {
    float: left;
}

.nav >ul >li >a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav >ul>li >a:hover {
    background-color: #111;
}

.dot:hover { fill: #2B98F0; stroke: white; stroke-width: .2em; }

